
/* Todo o site */
body{
    background-color: aliceblue;
}
.linha-vertical-nav {
    height: 10px;
    border-left: 2px solid;
}
.linha-vertical-footer {
    height: 30px;
    border-left: 2px solid;
}
/* Parte do Header */
header{
    background-color: rgba(153, 153, 153, 0.32);
}

header {
    margin-left: 30vh;
    margin-right: 30vh;
    text-align-last:center;
}

main {
    text-align-last:center;
}

.conteudo-header{
    margin: auto;
}
#burger {
    margin-right: 80px;
}
#logo{
    width: 100%;
}
#perfil{
    margin-left: 20px;
    margin-right: 80px;
}

#pesquisa {
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    padding-left: 32px;
  }
#header-top{
    display: flex;
    padding: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
}
#navegacao-horizontal{
    display: flex;
    border-top: 1px solid black;
}
.breadcrumb {
    margin: 20px;
    padding-left: 50px;
  }
.menu-horizontal ul{
    display: flex;
    padding: 20px;
    margin-left: 20px;
    border-left: 1px solid black;
}
.menu-horizontal ul li{
    margin-left: 20px;
}

/* Parte do Main */
section{
    width: 100%;
    margin: 0 auto;
}
.noticia img{
    width: 100%;
}
.noticia{
    display: inline-block;
    width: 30%;
    padding: 1.5%;
    font-size: 20px;
    line-height: 25px;
    color: black;
    margin-block-end: 10px;
}
/* Parte do Footer */
footer{
    background-color: rgba(153, 153, 153, 0.32);
    margin-top: 20px;
}
#footer {
    display: flex;
}
.conteudo-footer{
    display: flex;
    width: 100%;
    padding: 1.5%;
    font-size: 20px;
    line-height: 25px;
    color: black;
    margin-block-end: 10px;
    margin: auto;
    border-right: 1px solid black;
}
.social li{
    display: inline-block;
    padding: 15px;
    font-size: 50px;
}
.topicos ul {
    float: right;
    margin-right: 100px;
    margin-left: 75px;
}
.conteudo-footer .social, .conteudo-footer .topicos{
    margin-inline: auto;
}

.conteudo-footer h3{
    text-align: center;
}
.menu{
    margin: auto;
}
.logo img {
    width: 60%;
    margin: 30px;
}

a {
    color: black;
    text-decoration: none;
}

.conjunto-menu {
    display: inline-flex;
}

/*   */
.menu-lateral {
    position: fixed;
    top: 0;
    left: -100%;
    width: 25%;
    height: 100vh;
    background-color: #fff;
    transition: all 0.5s ease-in-out;
  }

.menu-lateral.active {
    left: 0;
}

.menu-lateral ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 100%;
    padding-left: 38px;
}

.menu-lateral li {
    list-style-type: none;
    margin: 20px 0;
    display: inline-flex;
    place-items:center;
}

.menu-lateral h2 {
    padding-left: 11px;
    font-size: 19px;
}
.menu-lateral h1 {
    font-size: 22px;
}
.menu-lateral a {
    text-decoration: none;
    color: #000;
    font-size: 24px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: all 0.5s ease-in-out;
    visibility: hidden;
}

.overlay.active {
    opacity: 1;
    visibility: visible;
}

.fechar {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;

    margin: 17px;
}
.fechar #perfil {
    border: black, 1px;
    border-style: solid;
    display: inline-flex;
    align-items: center;
    font-size: 20px;

}
.fechar i{
    font-size: 3vh;
}

#perfil button {
    background-color: #fff;
    border:#000, 1px;
    display: flex;
    padding: 13px;
}

#perfil .perfil-img {
    margin-right: 24px;
    margin-left: 10px;
}

#perfil .perfil-texto {
    margin-right: 24px;
    margin-left: 10px;
}

.menu-lateral .acessibilidade, .menu-lateral .topico, .menu-lateral .opicao {
    border: solid, 1px;
    border-left: none;
    border-right: none;
    border-top: none;
}

.permissao-cadastro-sucesso {
    position: fixed;
    top: 0;
    right: 0;
    padding: 10px;
    background-color: #0e6929;
    color: #fff;
    font-size: 2vh;
    z-index: 999;
    visibility: hidden;
}

.permissao-cadastro-erro {
    position: fixed;
    top: 0;
    right: 0;
    padding: 10px;
    background-color: #690e0e;
    color: #fff;
    font-size: 2vh;
    z-index: 999;
    visibility: hidden;
}

.permissao-cadastro-sucesso.active {
    visibility:visible;
}

.permissao-cadastro-erro.active{
    visibility:visible;
}

.conteudo-main i {
    border-radius: 97%;
    color: white;
    background-color: black;
    margin: 3vh;
    padding: 13px;
    font-size: 5vh;
}

.conteudo-main h1 {
    font-size: 40px;
}

conjunto-form {
    margin-left: 30%;
    margin-right: 30%;
    text-align-last: start;
}

form label {
    font-size: 3.3vh;
}
form input {
    font-size: 2.6vh;
    border: solid, 1px;
    padding: 1px;
    margin: 4px;
    width: 70vh;
    max-width: 70vh;
    text-align-last: left;
}

form .termo {
    display: flex;
    justify-content: center;
}

form .termo a {
    color: rgb(0, 89, 255);
    text-decoration: underline;
}

form .termo input {
    padding: 0px;
    margin: 0px;
    width: 10vh;
}

form button {
    font-size: 21px;
    margin: 14px;
}